[tools]
ruby = "3.4.7"
bun = "1.3"

[env]
_.path = [
  "{{exec(command='brew --prefix llvm')}}/bin"
]
DYLD_LIBRARY_PATH = "{{exec(command='brew --prefix llvm')}}/lib:${DYLD_LIBRARY_PATH}"
LLVM_CONFIG = "{{exec(command='brew --prefix llvm')}}/bin/llvm-config"
